body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

button submit-button {
  margin-left: 10px;
  margin-right: 10px;
}

.library {
  background-color: aliceblue;
  padding-bottom: 10px;
  padding-top: 20px;
}

#reviews-container {
  margin-top: 20px;
}

.review {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}